@model AboutArea

<div class="container">
    <div class="row">
        <div class="col-lg-10 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <img src="~/img/about/@Model.ImageUrl" alt="" />
                    <h1 class="card-title my-4">@Html.Raw(Model.Title)</h1>
                    <p class="text-secondary my-4">@Model.Description</p>
                    <a class="btn btn-dark my-4" asp-action="index">Go Back</a>
                </div>
            </div>
        </div>
    </div>
</div>