@model EventUpdateVm
@{
    var speakers = ViewBag.Speakers;
  
}
<div class="container">
    <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Event Update form</h4>
                    <img src="~/img/event/@Model.ImageUrl" style="width:300px; height:300px; margin-bottom:50px" />
                    <form enctype="multipart/form-data" asp-action="update" class="forms-sample" style="display:flex;
                      flex-wrap:wrap; justify-content:space-around" method="post">
                        <div class="form-group col-lg-5">
                            <label asp-for="Title"></label>
                            <input asp-for="Title" class="form-control" placeholder="Title">
                            <span class="text-danger" asp-validation-for="Title"></span>
                        </div>

                        <div class="form-group col-lg-5">
                            <label asp-for="Address"> </label>
                            <input asp-for="Address" class="form-control" placeholder="Address">
                            <span class="text-danger" asp-validation-for="Address"></span>
                        </div>
                        <div class="form-group col-lg-5">
                            <label asp-for="Description"> </label>
                            <input asp-for="Description" class="form-control" placeholder="Description">
                            <span class="text-danger" asp-validation-for="Description"></span>
                        </div>
                        <div class="form-group col-lg-5">
                            <label asp-for="Time"> </label>
                            <input asp-for="Time" class="form-control" placeholder="Time">
                            <span class="text-danger" asp-validation-for="Time"></span>
                        </div>
                        
                        <div class="form-group col-lg-5">
                            <label asp-for="Photo"> </label>
                            <input asp-for="Photo" class="form-control" placeholder="Description">
                            <span class="text-danger" asp-validation-for="Photo"></span>
                        </div>
                        <div class="form-group col-lg-5">
                            <ul>
                                @foreach (var eventspeaker in Model.EventSpeakers)
                                {
                                    <li class="btn btn-secondary col-lg-5" style="cursor:default; display:flex; justify-content:space-between; margin-bottom:10px">
                                        @eventspeaker.Speaker.FullName
                                        <a class="removespeaker" style="color:red" event-id="@Model.Id" speaker-id="@eventspeaker.SpeakerId"><i class="fa fa-window-close"></i></a>
                                    </li>
                                }
                            </ul>
                        </div>
                        <div class="form-group col-lg-5">
                            <label for="exampleFormControlSelect1">Large select</label>
                            <select class="form-select form-select-lg speakers" asp-for="SpeakerIds" asp-items="@speakers">
                            </select>
                        </div>


                        <div class="col-lg-5"></div>
                        <div>
                            <button type="submit" class="btn btn-gradient-primary me-2">Update</button>
                            <a class="btn btn-light" asp-action="index">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>

}
